.wrapper {
  text-align: center;
  margin-bottom: 32px;
}

.main {
  font-family: var(--orb);
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 6px;
  color: var(--c);
}

.accent {
  color: var(--c2);
  font-style: normal;
}

.sub {
  font-size: 18px;
  color: var(--c);
  letter-spacing: 6px;
  margin-top: 4px;
  font-family: var(--mono);
  text-transform: uppercase;
}