:root {
  --bg: #030508;
  --s1: #070d14;
  --s2: #0a1220;

  --c:  #00f5ff;
  --c2: #ff2d78;
  --c3: #00ff9d;
  --c4: #9b5de5;
  --c5: #ffb800;

  --mono: 'Share Tech Mono', monospace;
  --orb:  'Orbitron', sans-serif;
}