.tag {
  display: none;
  align-items: center;
  gap: 4px;
  font-family: var(--mono);
  font-size: 20px;
  color: var(--c8);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: nowrap;

}

.slash {
  color: var(--c3);
  font-weight: 700;
}


@media (min-width:1024px){
  .tag{
    display: block;
  }
}