.tag {
  display: none;
  align-items: center;
  gap: 4px;
  font-family: var(--mono);
  font-size: 20px;
  color: var(--c8);
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--category-color, #fff);
  border: 1px solid var(--category-color, #fff);
}

.slash {
  color: var(--c3);
  font-weight: 700;
}

@media (min-width: 1024px) {
  .tag {
    display: block;
  }
}
