.neon {
  background: var(--c);
  padding: 14px 32px;
  color: #000;
  font-weight: bold;
  transition:
    box-shadow 0.2s ease,
    opacity 0.2s ease;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  font-size: 18px;
}

.neon:hover {
  box-shadow:
    0 0 14px var(--c3),
    0 0 4px var(--c3);
  opacity: 0.9;
}

.neon:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.cancel {
  font-family: var(--orb);
  padding: 14px 32px;
  font-size: 20px;
  font-weight: bold;
  background: black;
  color: white;
  border: 1px solid var(--c4);
  transition:
    border-color 0.2s ease,
    color 0.2s ease;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  font-size: 18px;
}

.cancel:hover {
  border-color: #6a3aaa;
  color: #fff;
}

.edit {
  font-family: var(--mono);
  font-size: 20px;
  padding: 6px 16px;
  background-color: var(--c5);
  color: #0a0a0a;
  border: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.06em;
  transition: opacity 0.2s ease;
}

.edit:hover {
  opacity: 0.85;
}

.danger {
  font-family: var(--mono);
  font-size: 20px;
  padding: 6px 16px;
  background-color: var(--c6);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.06em;
  transition: opacity 0.2s ease;
}

.danger:hover {
  opacity: 0.85;
}

.filter {
  font-family: var(--mono);
  font-size: 18px;
  padding: 6px 16px;
  background-color: var(--c);
  color: #0a0a0a;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: opacity 0.2s ease;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  width: 125px;
  height: 45px;
}

.filter:hover {
  opacity: 0.85;
}

@media (min-width: 1024px) {
  .neon {
    width: 240px;
  }

  .cancel {
    width: 240px;
  }

  .filter {
    width: 240px;
    height: 53px;
  }
}
