.wrapper {
  text-align: center;
  position: relative;
  z-index: 2;
}

.pre {
  font-size: 20px;
  color: var(--c);
  margin-top: 50px;
  margin-bottom: 12px;
  font-family: var(--mono);
}

.title {
  font-family: var(--orb);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 6px;
}

.subtitle{
  font-family: var(--orb);
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.subh3{
  font-family: var(--mono);
  font-size: 16px;
  color:var(--c7);
}

.cx { color: var(--c);  }
.cg { color: var(--c2); }
.cv { color: var(--c3); }

.tagline {
  font-size: 20px;
  color: var(--c7);
  margin: 16px 0 36px;
  text-transform: uppercase;
  font-family: var(--mono);
  display: none;
}

.buttons {
  display: flex;
  gap: 14px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}


@media (min-width:1024px){
  .subtitle{
    font-size: 40px;
  }

  .subh3{
    font-size: 32px;
  }

  .tagline{
    display: block;
  }
}