.form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(26, 26, 26, 0.8);
  border: 1px solid #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.paymentElementContainer {
  margin-bottom: 25px;
  min-height: 200px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.errorMessage {
  color: red;
  background: rgba(255, 77, 77, 0.1);
  padding: 12px;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgba(255, 77, 77, 0.3);
  animation: fadeIn 0.3s ease;
}

.botonNeon {
  background: var(--c);
  padding: 14px 32px;
  color: #000;
  font-weight: bold;
  transition:
    box-shadow 0.2s ease,
    opacity 0.2s ease;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  font-size: 18px;
  cursor: pointer;
}

.botonNeon:hover {
  box-shadow:
    0 0 14px var(--c3),
    0 0 4px var(--c3);
  opacity: 0.9;
}

.cancel {
  font-family: var(--orb);
  padding: 14px 32px;
  font-size: 20px;
  font-weight: bold;
  background: black;
  color: white;
  border: 1px solid var(--c4);
  transition:
    border-color 0.2s ease,
    color 0.2s ease;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  font-size: 18px;
  width: 210px;
  cursor: pointer;
}

.cancel:hover {
  border-color: #6a3aaa;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  .errorMessage {
    font-size: 20px;
  }

  .botonNeon {
    width: 240px;
  }

  .cancel {
    width: 240px;
  }
}
