:root {
  --bg: #030508;
  --s1: #070d14;
  --s2: #0a1220;

  --c: #00f5ff;
  --c2: #ff2d78;
  --c3: #00ff9d;
  --c4: #613C92;
  --c5: #ffb800;
  --c6: #ff0004;
  --c7: #8fa4b6;
  --c8: #4b9b9d;
  --c9: #0d1e23;
  --error:#FFADD6;

  --mono: "Share Tech Mono", monospace;
  --orb: "Orbitron", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%; 
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth; 
}

main {
  display: block; 
}
